#outerBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    justify-items: center;
    align-content: center;

    margin: auto;
    padding: 0px;

    box-sizing: border-box;
    
    width: 624px;
    height: 624px;
    
    background-color: lightgray;
}

.innerBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    justify-items: center;
    align-content: center;

    margin: 0px;
    padding: 0px;

    box-sizing: border-box;

    width: 208px;
    height: 208px;

    background-color: rgba(0,0,0,0);
    border: 5px solid black;
}

.cell{
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;

    width: 66px;
    height: 66px;

    align-items: center;
    text-align: center;

    line-height: 66px;

    background-color: rgba(0,0,0,0);
    border: 3px solid gray;
}

.numInput{
    margin: 0px;
    padding: 0px;

    width: 66px;
    height: 66px;

    align-items: center;
    text-align: center;

    line-height: 66px;
    font-size: 30px;

    background-color: rgba(0,0,0,0);
    border-width: 0px;;
}

#buttonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

#regenButton{
    align-content: center;

    margin: 31px;

    height: 100px;
    width: 250px;

    font-family: "fantasy", "copperplate";
    font-size: 22px;

    background-color: rgb(170,170,170);
    border-width: 5px;
    border-radius: 3px;
}

#regenButton:hover{
    background-color: lightgray;
}

#checkButton{
    align-content: center;

    margin: 31px;

    height: 100px;
    width: 250px;

    font-family: "fantasy", "copperplate";
    font-size: 22px;

    background-color: rgb(170,170,170);
    border-width: 5px;
    border-radius: 3px;
}

#checkButton:hover{
    background-color: lightgray;
}