#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#alert{
    display: none;

    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 

    justify-content: center;
    justify-items: center;
    align-content: space-around;
    flex-wrap: wrap;

    font-family: 'TimesNewRoman';
    text-align: center;
    font-size: 30px;

    height: 250px;
    width: 400px;
    border: 2px, solid, black;
    border-radius: 3px;
    background-color: rgb(140,140,140);
    position: absolute;
    top: 350px;
    z-index: 3;
}

.menuButton{
    height: 50px;
    width: 125px;

    font-family: 'TimesNewRoman';
    text-align: center;
    font-size: 27px;
    line-height: 50px;

    background-color: rgb(230,230,230);

    margin-left: 20px;
    margin-right: 20px;
}

.menuButton:hover{
    background-color: rgb(245,245,245);
}

#outerBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    justify-items: center;
    align-content: center;

    margin: auto;
    padding: 0px;

    box-sizing: border-box;
    
    background-color: lightgray;
    border-width: 0px;

    z-index: 0;
}

.innerBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    justify-items: center;
    align-content: center;

    margin: 0px;
    padding: 0px;

    box-sizing: border-box;

    background-color: rgba(0,0,0,0);
    border-width: 3px;
    border-style: solid;
    border-color: black;

    z-index: 2;
}

.cell{
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;

    align-items: center;
    text-align: center;

    background-color: rgb(225,225,225);
    border: 1px solid gray;

    z-index: 1;
}

.numInput{
    margin: 0px;
    padding: 0px;

    align-items: center;
    text-align: center;

    font-family: 'Courier New Bold', Courier, monospace;

    background-color: rgba(0,0,0,0);
    border-width: 0px;
    transform: translate(-1px,-1px);
}

#buttonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sudokuFunctionButtons{
    align-content: center;

    margin: 31px;

    color: black;
    font-family: "fantasy", "copperplate";
    font-size: 22px;

    background-color: rgb(170,170,170);
    border-radius: 3px;
}

.sudokuFunctionButtons:hover{
    background-color: lightgray;
}